.jumbotron {
    background-color: yellow;
    color: black;
}
.btny{
    background-color: green;
}
.footer{
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
}
.card-hotel{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
}
.btn-hotel{
    width: 100%;
}